body {
  height: 100%;
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.navbar {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 100%, .93);
}

.logo {
  position: static;
  left: 0px;
  top: 31%;
  z-index: 1100;
  width: 400px;
  margin-top: 5px;
  margin-bottom: 71px;
  margin-left: 0px;
}

.logo.navbar {
  position: relative;
  z-index: auto;
  width: 15%;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 20px;
  background-color: transparent;
}

.logo.footer {
  display: inline-block;
  width: 20%;
  margin-top: 0px;
  margin-bottom: 17px;
  float: none;
}

.nav_menu {
  width: auto;
  background-color: transparent;
  text-align: right;
}

.navlink {
  padding-top: 12px;
  padding-bottom: 12px;
  color: #004f7a;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}

.navlink:hover {
  color: #0588ca;
}

.navlink.w--current {
  color: #684f40;
}

.hero_section {
  height: 100%;
}

.bg_video {
  height: 100%;
  background-image: -webkit-linear-gradient(0deg, hsla(0, 0%, 100%, .41), hsla(0, 0%, 100%, 0) 69%);
  background-image: linear-gradient(90deg, hsla(0, 0%, 100%, .41), hsla(0, 0%, 100%, 0) 69%);
}

.main_tagline_div {
  position: absolute;
  left: 0px;
  top: 75px;
  z-index: 500;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 52%;
  padding-left: 40px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.main_headline {
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  font-family: Cinzel, sans-serif;
  color: #004f7a;
  line-height: 40px;
  font-weight: 400;
}

.main_text {
  margin-bottom: 30px;
  margin-left: 0px;
  color: #684f40;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}

.main_taglines_inside_div {
  margin-top: 0px;
  margin-left: 89px;
  padding-top: 25px;
  border-top: 1px solid rgba(104, 79, 64, .5);
  border-bottom: 1px none #684f40;
}

.main_btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 410px;
  margin-bottom: 10px;
  padding: 15px 31px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background-color: #004f7a;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
}

.main_btn:hover {
  background-color: #0588ca;
}

.main_btn.brown {
  background-color: #684f40;
}

.main_btn.brown:hover {
  background-color: #412d22;
}

.main_btn_img {
  margin-right: 15px;
}

.about_section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #c9deec;
  background-image: -webkit-linear-gradient(270deg, rgba(226, 230, 233, .89), rgba(226, 230, 233, .89)), url('../images/sholder-image.jpg');
  background-image: linear-gradient(180deg, rgba(226, 230, 233, .89), rgba(226, 230, 233, .89)), url('../images/sholder-image.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

.container_div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.container_div.testimonials {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.container_div.footer {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.container_div.test {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.section_headline {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 35px;
  font-family: Cinzel, sans-serif;
  color: #004f7a;
  font-size: 56px;
  line-height: 54px;
  font-weight: 400;
}

.section_headline.center {
  text-align: center;
}

.section_headline.small {
  margin-bottom: 9px;
  font-size: 22px;
  line-height: 24px;
  text-align: center;
}

.text {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}

.text.white {
  color: #000;
}

.text_div {
  width: 40%;
}

.image_div {
  width: 58%;
}

.team_img {
  margin-top: -42px;
}

.shoulder_pain_section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: -webkit-linear-gradient(180deg, hsla(0, 0%, 100%, 0), #fff), url('../images/sholder-image.jpg');
  background-image: linear-gradient(270deg, hsla(0, 0%, 100%, 0), #fff), url('../images/sholder-image.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

.shoulder_pain_test_div {
  width: 39%;
}

.text_field {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(104, 79, 64, .39);
  border-radius: 30px;
  background-color: hsla(0, 0%, 100%, .88);
}

.submit_btn {
  width: auto;
  margin-top: 30px;
  padding: 10px 60px;
  border-radius: 30px;
  background-color: #684f40;
  text-transform: uppercase;
}

.submit_btn:hover {
  background-color: #0588ca;
}

.test_question {
  margin-top: 30px;
  margin-bottom: 15px;
  font-family: Roboto, sans-serif;
  color: #ce7504;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.radio_btn {
  display: block;
  margin-right: 16px;
  margin-bottom: 10px;
  color: #004f7a;
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
}

.field-label {
  margin-bottom: 0px;
  font-weight: 300;
}

.radio-button {
  margin-top: 0px;
}

.radio-button-2 {
  margin-top: 0px;
}

.success_msg {
  padding-left: 0px;
  background-color: transparent;
  color: #684f40;
  font-size: 20px;
  text-align: left;
}

.error_msg {
  background-color: transparent;
  color: #ec0f0f;
  font-size: 18px;
}

.testimonials_section {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #b0e2fc;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .49), hsla(0, 0%, 100%, .49)), url('../images/bg-img.jpg');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .49), hsla(0, 0%, 100%, .49)), url('../images/bg-img.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.testimonial_div {
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  padding: 71px 50px;
  border-style: none;
  border-width: 1px;
  border-color: rgba(104, 79, 64, .32);
  border-radius: 0px;
  background-color: transparent;
  text-align: center;
}

.testimonial_div._2 {
  height: 500px;
  background-image: url('../images/parallax-image.jpg');
  background-position: 50% 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.test-img {
  display: block;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}

.testimonials_name {
  display: inline-block;
  margin-right: auto;
  margin-bottom: 24px;
  margin-left: -60px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 61px;
  border-bottom: 2px solid rgba(104, 79, 64, .47);
  font-family: Cinzel, sans-serif;
  color: #004f7a;
  font-size: 28px;
  font-weight: 400;
}

.container_flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.appointment_div {
  width: 50%;
  padding: 70px 74px;
  background-image: -webkit-linear-gradient(90deg, hsla(0, 0%, 100%, .51), #fff), url('../images/location-img.jpg');
  background-image: linear-gradient(0deg, hsla(0, 0%, 100%, .51), #fff), url('../images/location-img.jpg');
  background-position: 0px 0px, 0px 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, scroll;
}

.locations_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding: 70px 75px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #022436;
}

.contact_headline {
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: Cinzel, sans-serif;
  font-weight: 400;
}

.contact_headline.white {
  width: 100%;
  color: #fff;
}

.text_area {
  height: auto;
  min-height: 150px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(104, 79, 64, .39);
  border-radius: 20px;
}

.headline_div {
  width: 100%;
}

.location_div {
  width: 45%;
  margin-right: 9px;
  margin-left: 9px;
  padding-right: 10px;
}

.location_headline {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(165, 218, 245, .45);
  font-family: Cinzel, sans-serif;
  color: #a5daf5;
  font-weight: 400;
}

.address_text {
  margin-bottom: 20px;
  color: #a5daf5;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
}

.phone {
  margin-top: 0px;
  margin-bottom: 45px;
  color: #fff;
  font-weight: 400;
}

.map {
  height: 200px;
}

.footer_section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer_link {
  display: inline-block;
  margin-bottom: 5px;
  margin-left: 0px;
  color: #0588ca;
  text-decoration: none;
  text-transform: none;
}

.footer_link:hover {
  color: #684f40;
}

.footer_text {
  display: inline-block;
  margin-top: 0px;
  margin-left: 20px;
  color: rgba(104, 79, 64, .84);
  font-size: 14px;
}

.testimonial_text_div {
  width: 45%;
}

.testimonial_text_div.right {
  float: right;
}

.subheeadline {
  margin-top: 0px;
  margin-bottom: 12px;
  font-family: Cinzel, sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
}

.assesment_text {
  width: 400px;
  margin-bottom: 36px;
  color: #0588ca;
  font-size: 18px;
  line-height: 28px;
}

.assesment_text.big {
  width: 450px;
  font-size: 24px;
  font-weight: 500;
}

.assesment_text._100 {
  width: 100%;
}

.insurance_div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 75px;
  padding-bottom: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.insurance_text {
  margin-bottom: 30px;
  color: #004f7a;
  font-size: 13px;
  text-align: center;
}

.testimonials_slider {
  display: block;
  width: 75%;
  height: 450px;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
}

.slide1 {
  padding: 15px 79px;
}

.arrow {
  width: 45px;
  color: #004f7a;
  font-size: 20px;
}

.slide2 {
  padding: 14px 80px;
}

html.w-mod-js *[data-ix="navbar-invisible"] {
  opacity: 0;
  -webkit-transform: translate(0px, -70px);
  -ms-transform: translate(0px, -70px);
  transform: translate(0px, -70px);
}

@media (max-width: 991px) {
  .navbar {
    display: block;
  }
  .logo {
    width: 350px;
  }
  .logo.navbar {
    width: 250px;
  }
  .logo.footer {
    width: 220px;
  }
  .nav_menu {
    background-color: #fff;
  }
  .main_tagline_div {
    top: 5%;
    width: 55%;
    padding-left: 16px;
  }
  .main_headline {
    font-size: 30px;
    line-height: 32px;
  }
  .main_text {
    font-size: 16px;
    line-height: 28px;
  }
  .main_taglines_inside_div {
    margin-left: 77px;
  }
  .main_btn {
    width: auto;
    padding-right: 20px;
    padding-left: 19px;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    font-size: 14px;
    line-height: 16px;
  }
  .about_section {
    background-image: -webkit-linear-gradient(270deg, rgba(226, 230, 233, .89), rgba(226, 230, 233, .89)), url('../images/sholder-image.jpg');
    background-image: linear-gradient(180deg, rgba(226, 230, 233, .89), rgba(226, 230, 233, .89)), url('../images/sholder-image.jpg');
    background-position: 0px 0px, 78% 50%;
  }
  .container_div.testimonials {
    width: 90%;
  }
  .text_div {
    width: 100%;
  }
  .image_div {
    width: 100%;
  }
  .team_img {
    margin-top: 0px;
  }
  .shoulder_pain_section {
    background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .8), hsla(0, 0%, 100%, .8)), url('../images/sholder-image.jpg');
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .8), hsla(0, 0%, 100%, .8)), url('../images/sholder-image.jpg');
    background-position: 0px 0px, 78% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
  }
  .shoulder_pain_test_div {
    width: 100%;
  }
  .text_field {
    box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, .25);
  }
  .testimonial_div {
    width: 45%;
    margin-bottom: 40px;
    padding-right: 31px;
    padding-left: 31px;
  }
  .testimonial_div._1 {
    width: 100%;
    margin-bottom: 0px;
  }
  .testimonial_div._2 {
    width: 100%;
    margin-bottom: 0px;
    background-position: 0px 0px, 22% 50%;
  }
  .testimonials_name {
    margin-left: -31px;
  }
  .appointment_div {
    width: 100%;
    padding: 73px 107px;
    background-image: -webkit-linear-gradient(270deg, #fff 11%, hsla(0, 0%, 100%, .63)), url('../images/location-img.jpg');
    background-image: linear-gradient(180deg, #fff 11%, hsla(0, 0%, 100%, .63)), url('../images/location-img.jpg');
    background-position: 0px 0px, 0px 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, scroll;
  }
  .locations_section {
    width: 100%;
    padding: 50px 94px;
  }
  .contact_headline {
    font-size: 28px;
    line-height: 30px;
  }
  .contact_headline.white {
    margin-left: 20px;
    padding-left: 0px;
  }
  .text_area {
    box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, .25);
  }
  .location_div {
    padding-right: 0px;
  }
  .address_text {
    font-size: 14px;
    line-height: 24px;
  }
  .phone {
    font-size: 20px;
  }
  .menu_btn {
    background-color: #004f7a;
    color: #fff;
  }
  .menu_btn:hover {
    background-color: #0588ca;
  }
  .menu_btn.w--open {
    background-color: #684f40;
  }
}

@media (max-width: 767px) {
  .navbar {
    display: block;
  }
  .logo {
    width: 250px;
    margin-bottom: 10px;
  }
  .logo.navbar {
    margin-left: 6px;
    padding-left: 0px;
  }
  .hero_section {
    background-image: -webkit-linear-gradient(0deg, hsla(0, 0%, 100%, .49), hsla(0, 0%, 100%, 0) 51%), url('../images/mobile-hero-img.jpg');
    background-image: linear-gradient(90deg, hsla(0, 0%, 100%, .49), hsla(0, 0%, 100%, 0) 51%), url('../images/mobile-hero-img.jpg');
    background-position: 0px 0px, 0px 0px;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }
  .bg_video {
    display: none;
  }
  .main_tagline_div {
    top: 2%;
    width: 60%;
    padding-left: 0px;
  }
  .main_headline {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 22px;
  }
  .main_text {
    display: none;
  }
  .main_taglines_inside_div {
    margin-left: 20px;
    padding-top: 10px;
  }
  .main_btn {
    margin-bottom: 5px;
    padding: 8px 10px 8px 15px;
    font-size: 12px;
    line-height: 14px;
  }
  .main_btn_img {
    margin-right: 6px;
  }
  .about_section {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .section_headline {
    font-size: 38px;
    line-height: 40px;
  }
  .text {
    font-size: 14px;
    line-height: 26px;
  }
  .shoulder_pain_section {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .testimonials_section {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .testimonial_div {
    width: 100%;
  }
  .testimonial_div._1 {
    background-image: -webkit-linear-gradient(0deg, #fff, hsla(0, 0%, 100%, .47)), url('../images/testimonials-image1.jpg');
    background-image: linear-gradient(90deg, #fff, hsla(0, 0%, 100%, .47)), url('../images/testimonials-image1.jpg');
    background-position: 0px 0px, 50% 15%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }
  .testimonial_div._2 {
    padding-right: 11px;
    background-image: -webkit-linear-gradient(0deg, hsla(0, 0%, 100%, .67), #fff), url('../images/testimonials-image2.jpg');
    background-image: linear-gradient(90deg, hsla(0, 0%, 100%, .67), #fff), url('../images/testimonials-image2.jpg');
    background-position: 0px 0px, 22% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }
  .testimonials_name {
    padding-left: 30px;
  }
  .appointment_div {
    padding-right: 65px;
    padding-left: 65px;
  }
  .locations_section {
    padding-right: 50px;
    padding-left: 50px;
  }
  .testimonial_text_div {
    width: 65%;
  }
}

@media (max-width: 479px) {
  .navbar {
    display: block;
  }
  .hero_section {
    background-position: 0px 0px, 50% 50%;
  }
  .main_tagline_div {
    top: 6%;
    width: 75%;
  }
  .main_headline {
    margin-bottom: 56px;
  }
  .container_div {
    width: 90%;
  }
  .section_headline {
    margin-bottom: 20px;
  }
  .testimonials_section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .testimonial_div {
    margin-right: 0px;
    margin-left: 0px;
  }
  .testimonial_div._1 {
    background-position: 0px 0px, 75% 50%;
  }
  .testimonial_div._2 {
    padding-right: 20px;
    background-position: 0px 0px, 14% 50%;
  }
  .test-img {
    margin-bottom: 5px;
  }
  .appointment_div {
    padding: 50px 20px;
  }
  .locations_section {
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
  }
  .contact_headline.white {
    margin-left: 0px;
  }
  .location_div {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
  }
  .testimonial_text_div {
    width: 100%;
  }
}

